body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;

}
h1{
    color: #333;
    margin-bottom: 0;
    font-size: 3rem;
    text-shadow: 2px 2px #aaa;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: default;
}
h2{
    color: #666;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
    cursor: default;
}
.btn{
    width: 200px;
    height: 200px;
    margin: 2rem;
    border-radius: 10%;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
.red{
    background-color: #ff4d4d;
    border: 5px solid #ff1a1a;
    box-shadow: 0 4px #cc0000;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.green{
    background-color: #4dff4d;
    border: 5px solid #1aff1a;
    box-shadow: 0 4px #00cc00;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.blue{
    background-color: #4d4dff;
    border: 5px solid #1a1aff;
    box-shadow: 0 4px #0000cc;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.yellow{
    background-color: #ffff4d;
    border: 5px solid #ffff1a;
    box-shadow: 0 4px #cccc00;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.flash{
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    animation: flash 1s infinite alternate;
}
.userFlash{
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
    animation: userFlash 0.5s;
    pointer-events: none;
}
